* {
    box-sizing: border-box;
}
body{
    background:#1A1B21;
    margin: 20px;
}

.container{
    width: 550px;
    background-color: #23252C;
    display: table;
    margin: 0 auto;
    text-align: center; 
}

.card-container {
    width: 320px; 
    display: table; 
    margin: 50px auto 0 auto;;
}
.card-block{
    background-color: #1A1B21
}

.card-logo{
    width:320px;
    border-radius: 10px 10px  0 0;
}

.card-information{
    margin: 20px auto 0;
    display: table;
}

.card-title {
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    line-height: 20px; 
    margin: 0;    
}

.card-information h3 {
    font-family: Inter, sans-serif;
    font-size: 12px; 
    color: #F3BF99;
    font-weight: 200;
    margin: 10px auto;
}

.card-information h4 {
    font-family: Inter, sans-serif;
    font-size: 10px; 
    color: #F5F5F5;
    font-weight: 200;
    margin: 10px auto;
}

.card-button1{
    width: 115px;
    height: 36px;
    background-color: #fff;
    text-align: center;
    color: #374151;
    font-family: Inter, sans-serif;
    font-weight: 500; 
    font-size: 14px;
    line-height: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin: 10px;
    cursor: pointer; 
}

.card-button1 ion-icon, .card-button2 ion-icon{
    height: 16px;
    margin-bottom: -3px;
}

.card-button2{
    width: 115px;
    height: 36px;
    background-color: #5093E2;
    text-align: center;
    color: #fff;
    font-family: Inter, sans-serif;
    font-weight: 400; 
    font-size: 14px;
    line-height: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
}

.card-interests{
    background-color: #1A1B21;
    width:320px;
    margin: 0 auto; 
    padding: 5px 35px 15px 35px;
}

.interests{
    font-size: 18px;
    font-family: inter, sans-serif;
    text-align: left;
    color:#fff;
    line-height: 18px;
}

.info{
    font-size: 12px;
    font-family: Inter, sans-serif;
    text-align: left;
    color: #fff;
    line-height: 14px; 
}

.footer{
    margin: 0 auto 50px auto;
    width: 320px;
    background-color:#161619;
    height: 65px;
    border-radius: 0px 0px 10px 10px;
}

.footer ion-icon{
    font-size: 30px; 
    color: #918E9B;
    margin: 16px 8px; 
    cursor: pointer;
}

